/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.5s;
}

.sidebar:hover {
    width: 200px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar a span {
    display: none;
}

.sidebar:hover a span {
    display: inline;
}

.sidebar a:hover {
    background-color: #ddd;
    color: #333;
}

/* Main Content Styles */
.content {
    margin-left: 50px; /* Same width as sidebar */
    padding: 20px;
}

/* Additional Styles for the Body */
body {
    font-family: Arial, sans-serif;
}
