<!DOCTYPE html  SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>My Blog Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <style>
        .card-text {
            display: -webkit-box;
            -webkit-line-clamp: 3; /* Show up to 3 lines of text */
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .show-more-button {
            display: none;
        }
        body{margin-top:20px;}
        .card-style2 {
            position: relative;
            display: flex;
            transition: all 300ms ease;
            border: 1px solid rgba(0, 0, 0, 0.09);
            padding: 0;
            height: 100%;
        }
        .card-style2 .card-img {
            position: relative;
            display: block;
            background: #ffffff;
            overflow: hidden;
            border-radius: 0.25rem;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .card-style2 .card-img img {
            transition: all 0.3s linear 0s;
        }
        .card-style2:hover .card-img img {
            transform: scale(1.05);
        }
        .card-style2 .date {
            position: absolute;
            right: 30px;
            top: 30px;
            z-index: 1;
            color: #16bae1;
            overflow: hidden;
            padding-bottom: 10px;
            line-height: 24px;
            text-align: center;
            border: 2px solid #ededed;
            display: inline-block;
            background-color: #ffffff;
            text-transform: uppercase;
            border-radius: 0.25rem;
        }
        .card-style2 .date span {
            position: relative;
            color: #ffffff;
            font-weight: 500;
            font-size: 20px;
            display: block;
            text-align: center;
            padding: 12px;
            margin-bottom: 10px;
            background-color: #052240;
            border-radius: 0.25rem;
        }
        .card-style2 .card-body {
            position: relative;
            display: block;
            background: #ffffff;
            padding: 2rem;
        }
        .card-style2 .card-body h3 {
            margin-bottom: 0.8rem;
        }
        .card-style2 .card-body h3 a {
            color: #004975;
        }
        .card-style2 .card-body h3 a:hover {
            color: #00baee;
        }
        .card-style2 .card-footer {
            border-top: 1px solid rgba(0, 0, 0, 0.09);
            background: transparent;
            padding-right: 2rem;
            padding-left: 2rem;
            -ms-flex-align: end;
            align-items: flex-end;
        }
        .card-style2 .card-footer ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin-bottom: 0;
        }
        .card-style2 .card-footer ul li {
            font-size: 15px;
        }
        .card-style2 .card-footer ul li a {
            color: #394952;
        }
        .card-style2 .card-footer ul li a:hover {
            color: #00baee;
        }
        .card-style2 .card-footer ul li i {
            color: #00baee;
            font-size: 14px;
            margin-right: 8px;
        }

    </style>

</head>


<body>

    <div th:replace="~{navbar :: navbar}"></div>
    <div th:replace="sidebar :: sidebar"></div>


<div class="container">
    <div class="row justify-content-center">
        <div th:each="blog, iterStat : ${blog}" class="col-lg-4 col-md-6 mb-2-6" style="  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center; margin: 25px 10px 25px 25px;">
            <article class="card card-style2 ">
                <div class="card-img">
                    <img class="rounded-top" src="https://www.bootdey.com/image/350x280/6A5ACD/000000" alt="...">
                    <div class="date"><span th:text="${#temporals.format(blog.publicationDate, 'dd')}"></span><span th:text="${#temporals.format(blog.publicationDate, 'MMM')}"></span></div>
                </div>
                <div class="card-body">
                    <h3 class="h5" th:text="${blog.title}"><a href="#!">Sample Blog Title</a></h3>
                    <p class="display-30" th:text="${blog.content}">Sample Blog Content</p>
                    <a href="#!" class="read-more" onclick="openPopup(`[[${blog.title}]]`, `[[${blog.content}]]`)">read more</a>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div>
                        <a href="#!" class="text-decoration-none">
                            <i class="fas fa-user"></i>
                            <span th:text="${blog.author}">Brittany Hucks</span>
                        </a>
                    </div>
                    <div>
                        <ul class="list-inline mb-0" >
                            <li class="list-inline-item" >
                                <a  th:href="@{'/update/' + ${blog.id}}" class="btn btn-secondary" style="background-color: #052240; color: white;">Update</a>
                            </li>
                            <li class="list-inline-item" sec:authorize="isAnonymous()">
                                <a th:href="@{'/delete/' + ${blog.id}}" class="btn btn-secondary">
                                    <i class="fas fa-trash-alt" style="color: white;"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </article>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var cards = document.getElementsByClassName("card-text");
        var buttons = document.getElementsByClassName("show-more-button");

        for (var i = 0; i < cards.length; i++) {
            if (cards[i].offsetHeight < cards[i].scrollHeight) {
                buttons[i].style.display = "block";
            }
        }
    });

    function openPopup(title, content) {
        var popupTitle = document.getElementById("popupTitle");
        var popupContent = document.getElementById("popupContent");
        popupTitle.innerText = title;
        popupContent.innerText = content;
        $('#myModal').modal('show');
    }
</script>

<!-- Bootstrap Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="popupContent"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
